<div class="col-lg-22 tab-header">
	<h3 class="pull-left">Comments</h3>

	<ul class="nav nav-tab-pane-options pull-right">
		<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
		<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="comments-nav-list" data-toggle="popover"></a></li>
	</ul>
	
	<div id="comments-nav-list" class="hide">
		<ul class="list-unstyled">
			<li><a class="modal-view" data-modal-view="addComment">Add Comment</a></li>
			<li><a class="modal-view" data-modal-view="deleteComment">Delete Comments</a></li>
		</ul>
	</div>
</div>

<div class="col-lg-22 clear-both">
	
	{{#each 0.comments.data}}
		<div class="media padded-border">
			<div class="delete-selection" id=""><span class="delete-check"></span></div>
			<a class="pull-left" href="#">
			  <img class="media-object" src="{{user.photoSrc}}" alt="">
			</a>
			<div class="media-body">
			  <h4 class="media-heading">{{user.firstName}} {{user.lastName}}</h4>
			  {{comment}}
			  <small>{{dateAdded}}</small>
			</div>
		</div>
		
	{{/each}}
	
</div>

<div class="col-lg-22 clear-both delete-footer hide text-center">
	<button class="btn btn-primary delete-photos">Delete</button>
	<button class="btn btn-primary delete-cancel">Cancel</button>
</div>