<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STHUF</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Bootstrap -->
	<link href="../../js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/main.css" rel="stylesheet">

	<!-- Load the script "js/config.js" as our entry point -->
    <script data-main="js/config" src="../../js/lib/requirejs/require.js"></script>
    
    <!--[if lt IE 9]>
      <script src="../../js/lib/html5shiv-dist/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <div class="main-container">
	
		<header id="header">
			
			<nav id="navbarLogin" class="navbar navbar-default" role="navigation">
			  <div class="container">
			  	<div class="row">
			  
				  	<div class="navbar-header">
				      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>-->
					     
					  <a class="navbar-brand" href="#/">STHUF</a>			      
				      
				    </div>
				    
				    <div class="navbar-login-form col-lg-12">
				    	<form class="form-inline" role="form">
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputEmail2">Email</label>
						    <input type="email" class="form-control" id="" placeholder="Email">
						  </div>
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputPassword2">Password</label>
						    <input type="password" class="form-control password" id="" placeholder="Password">
						    <!-- <a href="" class="forget-password">Forgot Password</a>  -->
						  </div>
						  <button type="submit" class="btn btn-default btn-primary">Login</button>
						</form>
				    </div>
			   </div>
			  </div><!-- container-fluid -->
			</nav>

		</header>

	    <div id="main-content" class="main-content container-fluid">
	    	<!--<img class="background-img" src="http://sthuf.com/v1/beta/images/background-img.jpg" />-->
		    <div class="container">
				<div class="row">
					<div class="col-lg-14 center-block">
						<section class="col-lg-11 intro">
							<h1>WELCOME TO YOUR STHUF.</h1>
							<h2>a personal inventory platform to organize and share your belongings.</h2>
						</section>
						<section class="col-lg-9 col-md-offset-2 sign-up">
							<div class="col-lg-18 center-block">
								<h2>Sign Up!</h2>
								<p>Free for you, your friends, and family.</p>
								<form class="sign-up-form" role="form">
									<div class="form-group">
									   	<input type="input" class="form-control input-lg" id="" placeholder="First Name">
									 	</div>
									  <div class="form-group">
									    <input type="input" class="form-control input-lg" id="" placeholder="Last Name">
									  </div>
									  <div class="form-group">
									    <input type="email" class="form-control input-lg" id="" placeholder="Email">
									  </div>
									  <div class="form-group">
									    <input type="password" class="form-control input-lg" id="" placeholder="Password">
									  </div>
									  <p class="terms"><small>By signing up you agree to  our Terms and that you have read and understand our Privacy.</small></p>
									  <button type="submit" class="btn btn-default btn-primary">Start Your Inventory</button>
									  <p><small>Create a Business Account</small></p>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div> <!-- main-content -->
		
		<footer>
			<nav class="navbar" role="navigation">
			  <div class="container-fluid">
			  	<div class="row">
				  	<ul class="nav navbar-nav">
					  <li><a href="http://localhost:8888/Sthuf/Website/Github/src/STHUF_Web/#/about">About</a> <span>|</span></li>
					  <li><a href="http://localhost:8888/Sthuf/Website/Github/src/STHUF_Web/#/privacy">Help</a> <span>|</span> </li>
					  <li><a href="http://localhost:8888/Sthuf/Website/Github/src/STHUF_Web/#/terms">Terms & Policy</a>  <span>|</span> </li>
					  <li><a href="http://localhost:8888/Sthuf/Website/Github/src/STHUF_Web/#/report-bug">Report a Bug</a></li>
					</ul>
				</div>
			  </div>
			</nav>  
	    </footer>
	    
    </div> <!-- /main-container -->
    
  </body>
</html>