<div class="row">
	<div class="col-lg-14 center-block">
		<section class="col-lg-11 intro">
			<h1>WELCOME TO YOUR STHUF.</h1>
			<h2>a personal inventory platform to organize and share your
				belongings.</h2>
		</section>
		<section class="col-lg-9 col-md-offset-2 sign-up">
			<div class="col-lg-18 center-block">
				<h2>Sign Up!</h2>
				<p>Free for you, your friends, and family.</p>
				<form class="sign-up-form" role="form" ng-submit="register(user)">
					<div class="form-group">
						<input type="input" class="form-control input-lg" id="firstName" placeholder="First Name" ng-model="user.firstName">
					</div>
					<div class="form-group">
						<input type="input" class="form-control input-lg" id="lastName" placeholder="Last Name" ng-model="user.lastName">
					</div>
					<div class="form-group">
						<input type="email" class="form-control input-lg" id="registerEmail" placeholder="Email" ng-model="user.email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" id="registerPassword" placeholder="Password" ng-model="user.password">
					</div>
					<p class="terms">
						<small>By signing up you agree to our Terms and that you
							have read and understand our Privacy.</small>
					</p>
					<button id="btnRegister" type="submit" class="btn btn-default btn-primary">Start
						Your Inventory</button>
					<p>
						<small>Create a Business Account</small>
					</p>
				</form>
			</div>
		</section>
	</div>
</div>