<form id="addVideoForm" class="add-video-form" role="form">
	<div class="modal-header">
		<button type="button" class="close icon-delete" data-dismiss="modal" aria-hidden="true"></button>
		<h3 class="modal-title" id="deleteCategory">Add Video</h3>
	</div>
	<div class="modal-body">
		<div class="file-input-wrapper">
			<div class="img-src">Add Video</div>
			<input type="file" class="form-control item-upload-pic" id="">
		</div>
		
		<div class="form-group itemHeader">
			<textarea class="form-control item-photos-desc" id="" rows="5" placeholder="Write a caption"></textarea>
		</div>    
		    
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
		<button type="button" class="btn btn-primary">Upload</button>
	</div>
</form>