<ul class="nav nav-tabs nav-item-tabs">
	<li class="active"><a href="#item-info" class="tab-info"><span class="icon-clipboard"></span>Info</a></li>
	<li><span class="navbar-separator"></span><a href="#item-photos" class="tab-photos"><span class="icon-camera"></span>Photos</a></li>
	<li><span class="navbar-separator"></span><a href="#item-videos" class="tab-videos"><span class="icon-recorder"></span>Videos</a></li>
	<li><span class="navbar-separator"></span><a href="#item-notes" class="tab-notes"><span class="icon-note"></span>Notes</a></li>
	<li><span class="navbar-separator"></span><a href="#item-receipts" class="tab-receipts"><span class="icon-tag"></span>Receipts</a></li>
	<li><span class="navbar-separator"></span><a href="#item-warranty" class="tab-warranty"><span class="icon-plus-big"></span>Warranty</a></li>
	<li><span class="navbar-separator"></span><a href="#item-comments" class="tab-comments"><span class="icon-bubbles"></span>Comments</a></li>
	<li><span class="navbar-separator"></span><a href="#item-share" class="tab-share"><span class="icon-share"></span>Share</a></li>
	<li><span class="navbar-separator"></span><a href="#item-sell" class="tab-sell"><span class="icon-dollar"></span>Sell</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="item-info">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Information</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-state="off" data-popover-content="info-nav-list" data-toggle="popover"></a></li>
						</ul>
						 
						<div id="info-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a>Edit Information</a></li>
							</ul>
						</div> 
						
					</div>
					<div class="col-lg-22 clear-both">
						<section class="col-lg-8 no-padding">
							<img src="{{0.photos.data.0.src}}" alt="" class="padded-border" />
							<ul class="list-unstyled padded-border item-snapshot">
							  <li><span class="icon-heart"></span>200</li>
							  <li>Photos: <span>2</span></li>
							  <li>Videos: <span>2</span></li>
							  <li>Notes: <span>2</span></li>
							  <li>Receipts: <span>2</span></li>
							  <li>Warranty: <span>Yes</span></li>
							  <li>Comments: <span>2</span></li>
							  <li>Selling: <span>N/A</span></li>
							  <li>Privacy: <span>Private</span></li>
							</ul>
						</section>
						<section class="col-lg-14">
							<div class="table-responsive">
							  <table class="table table-bordered item-info">
							  	<tr>
							  		<td>Make</td>
							  		<td>{{0.make}}</td>
							  	</tr>
							  	<tr>
							  		<td>Name</td>
							  		<td>{{0.inventoryName}}</td>
							  	</tr>
							  	<tr>
							  		<td>Description</td>
							  		<td>{{0.description}}</td>
							  	</tr>
							  	<tr>
							  		<td>Seller</td>
							  		<td>{{0.seller}}</td>
							  	</tr>
							  	<tr>
							  		<td>Price</td>
							  		<td>{{0.cost}}</td>
							  	</tr>
							  	<tr>
							  		<td>Purchased</td>
							  		<td>{{0.purchaseDate}}</td>
							  	</tr>
							  	<tr>
							  		<td>Model</td>
							  		<td>{{0.model}}</td>
							  	</tr>
							  	<tr>
							  		<td>Quantity</td>
							  		<td>{{0.quantity}}</td>
							  	</tr>
							  	<tr>
							  		<td>Condition</td>
							  		<td>{{0.condition}}</td>
							  	</tr>
							  	<tr>
							  		<td>Categories</td>
							  		<td></td>
							  	</tr>
							  </table>
							</div>
						</section>
					</div>
					
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-photos">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Photos</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="photos-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="photos-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a>Add Photo</a></li>
								<li><a>Delete Photos</a></li>
							</ul>
						</div>
					</div>
					
					<div class="thumb-container clear-both">
					  	{{#each 0.photos.data}}
						  <div class="col-xs-7">
						  	<article class="thumbnail">
							    <a href="#" class="">
							      <img src="{{src}}" alt="" />
							    </a>
						  	</article>
						  </div>
						{{/each}}
					</div>

					
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-videos">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Videos</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="videos-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="videos-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a>Add Videos</a></li>
								<li><a>Delete Videos</a></li>
							</ul>
						</div>
					</div>
					
					<div class="thumb-container clear-both">
					  	{{#each 0.videos.data}}
						  <div class="col-xs-7">
						  	<article class="thumbnail">
							    <a href="#" class="">
							      <img src="{{src}}" alt="" />
							    </a>
						  	</article>
						  </div>
						{{/each}}
					</div>
					  
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-notes">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Notes</h3>
						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="notes-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="notes-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a class="popover-view" data-popover-view="addNote">Add Note</a></li>
								<li><a class="delete-note">Delete Notes</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-lg-22 clear-both">
						<div class="list-group">
							{{#each 0.notes.data}}
								<div class="list-group-item list-content padded-border">
									<h4 class="list-group-item-heading">{{title}}<span>{{dateAdded}}</span></h4>
									<p class="list-group-item-text">
										{{description}}
									</p>
								</div>
							{{/each}}
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-receipts">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Receipts</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="receipts-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="receipts-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a>Add Receipts</a></li>
								<li><a>Delete Receipts</a></li>
							</ul>
						</div>
					</div>
					
					<div class="thumb-container clear-both">
					  	{{#each 0.receipts.data}}
						  <div class="col-xs-7">
						  	<article class="thumbnail">
							    <a href="#" class="">
							      <img src="{{src}}" alt="" />
							    </a>
						  	</article>
						  </div>
						{{/each}}
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-warranty">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Warranty</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="warranty-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="warranty-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a>Add Warranty</a></li>
								<li><a>Delete Warranty</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-lg-22 clear-both">
						<div class="table-responsive">
						  <table class="table table-bordered">
						  	<tr>
						  		<td>Issuer</td>
						  		<td>{{0.warranty.data.0.issuer}}</td>
						  	</tr>
						  	<tr>
						  		<td>Type</td>
						  		<td>{{0.warranty.data.0.type}}</td>
						  	</tr>
						  	<tr>
						  		<td>Term</td>
						  		<td>{{0.warranty.data.0.term}}</td>
						  	</tr>
						  	<tr>
						  		<td>Contact Information</td>
						  		<td>{{0.warranty.data.0.contactInfo}}</td>
						  	</tr>
						  	<tr>
						  		<td>Notes</td>
						  		<td>{{0.warranty.data.0.notes}}</td>
						  	</tr>
						  </table>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-comments">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Comments</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="comments-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="comments-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a class="popover-view" data-popover-view="addComment">Add Comment</a></li>
								<li><a>Delete Comments</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-lg-22 clear-both">
						<div class="list-group">
							{{#each 0.comments.data}}
								<div class="list-group-item list-content padded-border">
									<div class="pull-left list-content-thumb">
										<img src="{{user.photoSrc}}" />
									</div>
									<div class="pull-left">
										<h4 class="list-group-item-heading">{{user.firstName}} {{user.lastName}}<span>{{dateAdded}}</span></h4>
										<p class="list-group-item-text">
											{{comment}}
										</p>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-share">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Share</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="#" class="icon-settings"></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>
	<div class="tab-pane" id="item-sell">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Sell</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="ecommerce-nav-list" data-toggle="popover"></a></li>
						</ul>
						
						<div id="ecommerce-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a>Sell Item</a></li>
							</ul>
						</div>
						
						<div class="col-lg-22 clear-both">
							<div class="no-items">
								<div class="sthuf-u-icon-large-grey">&nbsp;</div>
								<h2>Coming Soon</h2>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>





'<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"><ul><li></li></ul></div></div>'