<div class="col-header">Alpha<span class="item-sort icon-arrow-down"></span></div>
        
<div class="column-content">
    <ul id="inventory-column" class="list-group col-content">
        <li class="list-group-item active">
            <a href="#" class="" id="invId-0" data-id="0"><span class="arrow hide icon-arrow-right"></span>All</a>
        </li>
        {{#this}}
        <li class="list-group-item">
            <a href="#" class="" id="invId-1" data-id='{{id}}'><span class="arrow hide icon-arrow-right"></span>{{make}} {{inventoryName}}</a>
        </li>
		{{/this}}
    </ul>
</div>

<div class="col-footer clearfix">
    <ul class="col-footer-nav">
        <li>
            <a href="#" class="viewAddItem" data-view="addItemView"><span class="icon-plus"></span></a>
        </li>
        <li>
        	<a href="#" class="viewDeleteItem" data-view="deleteItemView"><span class="icon-delete"></span></a>
        </li>
        <li class="pull-right"><a href="#" class=""><span class="icon-arrow-down"></span></a></li>
        <li class="pull-right"><a href="#" class=""><span class="icon-arrow-up"></span></a></li>
    </ul>
</div>