<div class="item-sell">
	<div class="col-lg-22 tab-header">
		<h3 class="pull-left">Sell</h3>
	
		<ul class="nav nav-tab-pane-options pull-right">
			<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
			<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="ecommerce-nav-list" default-popover></a></li>
		</ul>
		
		<div id="ecommerce-nav-list" class="hide">
			<ul class="list-unstyled">
				<li><a>Sell Item</a></li>
			</ul>
		</div>
		
		<div class="col-lg-22 clear-both">
			<div class="no-items">
				<div class="sthuf-u-icon-large-grey">&nbsp;</div>
				<h2>Coming Soon</h2>
			</div>
		</div>
	</div>
</div>