<div class="item-share">
	<div class="col-lg-22 tab-header">
		<h3 class="pull-left">Share</h3>
	
		<ul class="nav nav-tab-pane-options pull-right">
			<!--<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
			 <li class="pull-left"><a href="#" class="icon-settings"></a></li>  -->
		</ul>
		
	</div>
	
	<div class="col-lg-22 clear-both">
		<div class="input-group">
			<label for="">Item Link</label>
		    <div class="padded-border">https://sthuf.to/wd35jgf</div>
		</div>
		
		<div class="clear-both input-group">
			<section class="col-lg-11 no-padding">
				<label for="">Social Networks</label>
			</section>
			
			<section class="col-lg-11 no-padding">
				<label for="">Email/Username</label>
				<form id="shareItem" class="shareItem" role="form">
					<div class="form-group">
					 	<input type="text" class="form-control" id="" placeholder="add email addresses or usernames">
					</div>
					<div class="form-group">
					 	<textarea class="form-control" id="" rows="5" placeholder="Include a message"></textarea>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary pull-right">Share</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>