<div ng-controller="addCategoryCtrl">
	<form id="addCategoryForm" role="form" ng-submit="addCategory()">
		<div class="modal-header">
			<button type="button" class="close icon-delete" data-dismiss="modal"
				aria-hidden="true"></button>
			<h3 class="modal-title" id="addCategory">Add Category</h3>
		</div>
		<div class="modal-body">
		    <input id="categoryNameTxt" class="form-control" type="text" ng-model="category.name" placeholder="Category Name">
		</div>
		<div class="modal-footer">
			<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
			<button id="modalSubmit" type="submit" class="btn btn-primary">Add Category</button>
		</div>
	</form>
</div>