<div ng-controller="addItemCtrl">
<form id="addItemForm" class="add-item" role="form" ng-submit="addItem()">
<div class="modal-header">
	<button type="button" class="close icon-delete" data-dismiss="modal" aria-hidden="true"></button>
	<h3 class="modal-title" id="deleteCategory">Add Item</h3>
</div>
<div class="modal-body">
	<div class="file-input-wrapper">
		<div class="img-src">Add Photo</div>
		<input type="file" class="form-control item-upload-pic" preview-image>
	</div>
	
	<div class="form-group itemHeader">
		<input type="text" class="form-control item-make" ng-model="item.make" placeholder="Make/Brand">
	    <input type="text" class="form-control item-name" ng-model="item.inventoryName" placeholder="Name">
	</div>    
	    
	<div class="form-group">
	 	<label for="exampleInputEmail1">Description</label>
	    <textarea class="form-control" ng-model="item.description" rows="5"></textarea>
	</div>
	<div class="form-group">
	 	<label for="exampleInputEmail1">Select a Category</label>
	 	<!-- <div class="checkbox">
		  <label>
		    <input type="checkbox" value="" name="categories" ng-model="item.categories.id[1]">Appliances
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="" name="categories" ng-model="item.categories.id[2]">Electronics
		  </label>
		</div>
		 -->
		 
		  <label ng-repeat="category in categories">
		    <input type="checkbox" checklist-model="item.categories.data" checklist-value="category">{{category.categoryName}}
		  </label>
		 
	</div>
</div>
<div class="modal-footer">
	<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	<button type="submit" class="btn btn-primary">Add Item</button>
</div>
</form>
</div>