<ul class="nav nav-tabs nav-item-tabs">
	<li class="active"><a href="#item-info" class="tab-info" data-tab-view="itemInfo" data-toggle="tab"><span class="icon-clipboard"></span>Info</a></li>
	<li><span class="navbar-separator"></span><a href="#item-photos" class="tab-photos" data-toggle="tab" data-tab-view="itemPhotos"><span class="icon-camera"></span>Photos</a></li>
	<li><span class="navbar-separator"></span><a href="#item-videos" class="tab-videos" data-toggle="tab" data-tab-view="itemVideos"><span class="icon-recorder"></span>Videos</a></li>
	<li><span class="navbar-separator"></span><a href="#item-notes" class="tab-notes" data-toggle="tab" data-tab-view="itemNotes"><span class="icon-note"></span>Notes</a></li>
	<li><span class="navbar-separator"></span><a href="#item-receipts" class="tab-receipts" data-toggle="tab" data-tab-view="itemReceipts"><span class="icon-tag"></span>Receipts</a></li>
	<li><span class="navbar-separator"></span><a href="#item-warranty" class="tab-warranty" data-tab-view="itemWarranty"><span class="icon-plus-big"></span>Warranty</a></li>
	<li><span class="navbar-separator"></span><a href="#item-comments" class="tab-comments" data-tab-view="itemComments"><span class="icon-bubbles"></span>Comments</a></li>
	<li><span class="navbar-separator"></span><a href="#item-share" class="tab-share" data-tab-view="itemShare"><span class="icon-share"></span>Share</a></li>
	<li><span class="navbar-separator"></span><a href="#item-sell" class="tab-sell" data-tab-view="itemEcommerce"><span class="icon-dollar"></span>Sell</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="item-info">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="col-lg-22 tab-header">
						<h3 class="pull-left">Information</h3>

						<ul class="nav nav-tab-pane-options pull-right">
							<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
							<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-state="off" data-popover-content="info-nav-list" data-toggle="popover"></a></li>
						</ul>
						 
						<div id="info-nav-list" class="hide">
							<ul class="list-unstyled">
								<li><a class="modal-view" data-modal-view="editInfo">Edit Information</a></li>
							</ul>
						</div> 
						
					</div>
					<div class="col-lg-22 clear-both">
						<section class="col-lg-8 no-padding">
							<img ng-src='{{userItem.0.photos.data.0.src}}' alt="" class="padded-border" />
							<ul class="list-unstyled padded-border item-snapshot">
							  <li><span class="icon-heart"></span>200</li>
							  <li>Photos: <span>2</span></li>
							  <li>Videos: <span>2</span></li>
							  <li>Notes: <span>2</span></li>
							  <li>Receipts: <span>2</span></li>
							  <li>Warranty: <span>Yes</span></li>
							  <li>Comments: <span>2</span></li>
							  <li>Selling: <span>N/A</span></li>
							  <li>Privacy: <span>Private</span></li>
							</ul>
						</section>
						<section class="col-lg-14 item-info">
							<div class="table-responsive">
							  <table class="table table-bordered">
							  	<tr>
							  		<td>Make</td>
							  		<td>{{userItem.0.make}}</td>
							  	</tr>
							  	<tr>
							  		<td>Name</td>
							  		<td>{{userItem.0.inventoryName}}</td>
							  	</tr>
							  	<tr>
							  		<td>Description</td>
							  		<td>{{userItem.0.description}}</td>
							  	</tr>
							  	<tr>
							  		<td>Seller</td>
							  		<td>{{userItem.seller}}</td>
							  	</tr>
							  	<tr>
							  		<td>Price</td>
							  		<td>{{userItem.0.cost}}</td>
							  	</tr>
							  	<tr>
							  		<td>Purchased</td>
							  		<td>{{userItem.0.purchaseDate}}</td>
							  	</tr>
							  	<tr>
							  		<td>Model</td>
							  		<td>{{userItem.0.model}}</td>
							  	</tr>
							  	<tr>
							  		<td>Quantity</td>
							  		<td>{{userItem.0.quantity}}</td>
							  	</tr>
							  	<tr>
							  		<td>Condition</td>
							  		<td>{{userItem.0.condition}}</td>
							  	</tr>
							  	<tr>
							  		<td>Categories</td>
							  		<td>
							  			
							  		</td>
							  	</tr>
							  </table>
							</div>
						</section>
					</div>
					
				</div>

			</div>
		</div>
	</div> 
	<div class="tab-pane" id="item-photos">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-photos">
						<div ng-include="inventoryTemplate.itemPhotoListThumbView"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-videos">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-videos">
					</div>
					  
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-notes">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-notes">
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-receipts">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-receipts">
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-warranty">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-warranty">
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-comments">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-comments">
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="item-share">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-share">
					</div>
				</div>

			</div>
		</div>

	</div>
	<div class="tab-pane" id="item-sell">
		<div class="container-fluid">
			<div class="row">
				<div class="tab-pane-container">
					<div class="item-ecommerce">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>