<div class="col-header">Alpha<span class="item-sort icon-arrow-down"></span></div>        
<div class="column-content">
    <ul id="item-column" class="list-group col-content">
        <li class="list-group-item active">
            <a href="#" class="item-all" id="invId-all" ng-click="itemSelected($event)" data='0'><span class="arrow hide icon-arrow-right"></span>All</a>
        </li>
        <li class="list-group-item" ng-repeat="item in userItems">
            <a href="#" class="" id="" ng-click="itemSelected($event)" data='{{item.id}}'><span class="arrow hide icon-arrow-right"></span>{{item.make}} {{item.inventoryName}}</a>
        </li>
    </ul>
</div>

<div class="col-footer clearfix">
    <ul class="col-footer-nav">
        <li>
            <a href="#" class="" ng-click="addItemSelected($event)"><span class="icon-plus"></span></a>
        </li>
        <li>
        	<a href="#" class="" ng-click="deleteItemSelected($event)"><span class="icon-delete"></span></a>
        </li>
        <li class="pull-right"><a href="#" class=""><span class="icon-arrow-down"></span></a></li>
        <li class="pull-right"><a href="#" class=""><span class="icon-arrow-up"></span></a></li>
    </ul>
</div>