<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
			<td>Make</td>
			<td>{{userItem.0.make}}</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>{{userItem.0.inventoryName}}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{userItem.0.description}}</td>
		</tr>
		<tr>
			<td>Seller</td>
			<td>{{userItem.0.seller}}</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>{{userItem.0.cost}}</td>
		</tr>
		<tr>
			<td>Purchased</td>
			<td>{{userItem.0.purchaseDate}}</td>
		</tr>
		<tr>
			<td>Model</td>
			<td>{{userItem.0.model}}</td>
		</tr>
		<tr>
			<td>Quantity</td>
			<td>{{userItem.0.quantity}}</td>
		</tr>
		<tr>
			<td>Condition</td>
			<td>{{userItem.0.condition}}</td>
		</tr>
		<tr>
			<td>Categories</td>
			<td>
				
			</td>
		</tr>
	</table>
</div>