<div class="col-lg-22 tab-header">
	<h3 class="pull-left">Warranty</h3>

	<ul class="nav nav-tab-pane-options pull-right">
		<li class="pull-left"><a href="#" class="icon-lock" data-toggle="modal" data-target="#item-privacy"></a></li>
		<li class="pull-left"><a href="javascript:void(0);" class="icon-settings" data-popover-content="warranty-nav-list" data-toggle="popover"></a></li>
	</ul>
	
	<div id="warranty-nav-list" class="hide">
		<ul class="list-unstyled">
			<li><a>Add Warranty</a></li>
			<li><a class="modal-view" data-modal-view="editWarranty">Edit Warranty</a></li>
			<li><a>Delete Warranty</a></li>
		</ul>
	</div>
</div>

<div class="col-lg-22 clear-both item-warranty">
	<div class="table-responsive">
	  <table class="table table-bordered">
	  	<tr>
	  		<td>Issuer</td>
	  		<td>{{0.warranty.data.0.issuer}}</td>
	  	</tr>
	  	<tr>
	  		<td>Type</td>
	  		<td>{{0.warranty.data.0.type}}</td>
	  	</tr>
	  	<tr>
	  		<td>Term</td>
	  		<td>{{0.warranty.data.0.term}}</td>
	  	</tr>
	  	<tr>
	  		<td>Contact Information</td>
	  		<td>{{0.warranty.data.0.contactInfo}}</td>
	  	</tr>
	  	<tr>
	  		<td>Notes</td>
	  		<td>{{0.warranty.data.0.notes}}</td>
	  	</tr>
	  </table>
	</div>
</div>