<div class="row">
	<section id="theCategories" class="col-lg-4 flexible"></section>

	<section id="theItems" class="col-lg-4 flexible"></section>

	<section id="content" class="col-lg-14"></section>
</div>

<div class="modal fade" id="inventoryModal" role="dialog"
	aria-labelledby="inventoryModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id="item-privacy" tabindex="-1" role="dialog"
	aria-labelledby="itemPrivacy" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<span class="icon-lock"></span>
				<h3 class="modal-title" id="">Privacy</h3>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>