<form id="editWarrantyForm" class="edit-warranty-form" role="form">
	<div class="table-responsive">
	  <table class="table table-bordered">
	  	<tr>
	  		<td>Issuer</td>
	  		<td><input type="text" class="form-control no-style" id="issuer" placeholder="{{0.warranty.data.0.issuer}}"></td>
	  	</tr>
	  	<tr>
	  		<td>Type</td>
	  		<td><input type="text" class="form-control no-style" id="type" placeholder="{{0.warranty.data.0.type}}"></td>
	  	</tr>
	  	<tr>
	  		<td>Term</td>
	  		<td><input type="text" class="form-control no-style" id="term" placeholder="{{0.warranty.data.0.term}}"></td>
	  	</tr>
	  	<tr>
	  		<td>Contact Information</td>
	  		<td><input type="text" class="form-control no-style" id="contactInfo" placeholder="{{0.warranty.data.0.contactInfo}}"></td>
	  	</tr>
	  	<tr>
	  		<td>Notes</td>
	  		<td><input type="text" class="form-control no-style" id="notes" placeholder="{{0.warranty.data.0.notes}}"></td>
	  	</tr>
	  </table>
	  
		<div class="col-lg-8">
			<button type="button" class="btn btn-primary">Save</button>
			<button class="btn btn-primary delete-cancel">Cancel</button>
		</div>
	</div>
	
</form>